@multicloud:registry=https://pkgs.dev.azure.com/711digital/_packaging/common-packages/npm/registry/
engine-strict=true
save-exact=true
always-auth=true

; begin auth token
//pkgs.dev.azure.com/711digital/_packaging/common-packages/npm/registry/:username=common-packages
//pkgs.dev.azure.com/711digital/_packaging/common-packages/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/711digital/_packaging/common-packages/npm/registry/:email=common-packages
; end auth token
